---
import Layout from "../layouts/Layout.astro";

---

<Layout title="About">
  <main class={'[grid-area:main] flex-col flex overflow-y-auto border'}>
    <h1>About</h1>
    <p>This is the about page.</p>
	  </main>
</Layout>