---
import Layout from "../layouts/Layout.astro";

---

<Layout title="Contact">
  <main class={'[grid-area:main] flex-col flex overflow-y-auto border'}>
    <h1>Contact</h1>
    <p>This is the contact page.</p>
  </main>
</Layout>