---
import Layout from "../layouts/Layout.astro";

---




<Layout title="Welcome to Astro.">

		<div class="[grid-area:hero] flex-col flex overflow-y-auto border">
			hero
		</div>
		<div class="[grid-area:recentposts] flex-col flex overflow-y-auto border">
			recentposts
		</div>
		<div class="[grid-area:featuredworks] flex-col flex overflow-y-auto border">
			featuredworks
		</div>
	
  </Layout>
  