---
import Layout from "../layouts/Layout.astro";
import Header from "@/components/Header.astro";
import Education from "@/components/Education.astro";
import Experience from "@/components/Experience.astro";
import Projects from "@/components/Projects.astro";
import Skills from "@/components/Skills.astro";

---

<style>
  #fathercontainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: minmax(120px, auto) minmax(120px, auto) minmax(120px, auto) minmax(120px, auto);  
    grid-template-areas:
      "header header"
      "skills skills"
	  "projects projects"
	 "experience experience" 
	 "education education"
	  ;
  }
</style>

<Layout title="Welcome to Astro.">

  <main id="fathercontainer" class="relative  p-5">
	<Header />
	<Skills />
	<Projects />
	<Experience />
	<Education />
  </main>
</Layout>

