---
import {skills} from "@/cv"


---

<section class="[grid-area:skills] ">
    <h2 class="border-b-2 border-black bebas-neue-regular text-3xl font-bold  leading-10">Skills</h2>

    <ul class="mt-4 grid md:grid-cols-2 grid-cols-1 gap-2 list-disc list-inside pl-5">
        {skills.map((skill) => (
            <li>{skill}</li>
        ))}
    </ul>
</section>